body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 0px;
    width: 500px;
    height: 500px;
    margin:0 auto;
}

.grid-item {
    background-color: black;
    padding:5px;
}

